In [4]:

import pandas as pd
import numpy as np
import sys
from credentials import *
import itertools
from scipy import stats

In [5]:
def get_all_combinations(array):
    all_combinations = []
    for r in range(1, len(array) + 1):
        combinations = itertools.combinations(array, r)
        all_combinations.extend(combinations)
    return all_combinations


def get_stats(df, group_by):
    # stats = {}
    # stats['Mean outcome'] = group['outcome'].mean()
    # stats['Count'] = group['outcome'].count()
    # # stats['Count of non-response'] = group['reward'].isnull().sum()
    # # stats['% of non-response'] = round(group['reward'].isnull().mean() * 100,2)

    df = df.groupby(group_by) \
       .agg(count=('outcome', 'size'), 
            mean=('outcome', lambda x: round(x.mean(), 3)), 
            count_of_non_response=('outcome', lambda x: x.isnull().sum()),
            percent_of_non_response=('outcome', lambda x: round((x.isnull().mean() * 100), 3))) \
       .reset_index()
    
    df = df.rename(columns={
        "count": "Count",
        "mean": "Mean",
        "count_of_non_response": "Count of non-response",
        "percent_of_non_response": "% of non-response"
    })
    return df

In [13]:
df = pd.read_csv('~/Desktop/DataArrow/dataset/4v4var.csv')
df

,_id,user,outcome,where,policy,treatment,treatment.timestamp,outcome.timestamp,is_uniform,TakeShower,TakeShower.timestamp,HappyOrNot,HappyOrNot.timestamp,wantToTravel,wantToTravel.timestamp,haveLunch,haveLunch.timestamp
0,648879d5e3bb62aff3a95559,sim_user_1,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:14:45.934,NaN,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
1,648879d9e3bb62aff3a9566d,sim_user_1,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:14:49.243,NaN,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
2,648879dbe3bb62aff3a95731,sim_user_1,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:14:51.977,NaN,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
3,648879dde3bb62aff3a957b1,sim_user_1,1.0,NaN,ThompsonSamplingContextual,version2,2023-06-13 10:14:53.924,2023-06-13 10:14:56.344,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
4,648879e2e3bb62aff3a958e3,sim_user_1,1.0,NaN,ThompsonSamplingContextual,version2,2023-06-13 10:14:58.565,2023-06-13 10:15:02.917,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1816,64887a27e3bb62aff3a96934,sim_user_99,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:16:07.023,NaN,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1817,64887a2ce3bb62aff3a96a39,sim_user_99,0.0,NaN,ThompsonSamplingContextual,version4,2023-06-13 10:16:12.791,2023-06-13 10:16:14.381,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1818,64887a35e3bb62aff3a96c03,sim_user_99,0.0,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:16:21.169,2023-06-13 10:16:22.658,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1819,64887a3ae3bb62aff3a96d0a,sim_user_99,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:16:26.160,2023-06-13 10:16:27.651,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1820,64887a40e3bb62aff3a96e38,sim_user_99,0.0,NaN,ThompsonSamplingContextual,version2,2023-06-13 10:16:32.151,2023-06-13 10:16:35.632,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595

In [14]:
# test
get_stats(df, ['treatment'])

  treatment  Count   Mean  Count of non-response  % of non-response
0  version1    527  0.505                    153             29.032
1  version2    200  0.411                     49             24.500
2  version3    512  0.474                    149             29.102
3  version4    582  0.486                    181             31.100

In [15]:
def filter_dataframe(df, filter_dict):
    
    # Using boolean indexing
    conditions = [(df[column].isin([filter_dict[column]])) for column in filter_dict]
     # conditions[0] only filter the fist condition, if you want to apply all conditons, check next line
    final_condition = np.all(conditions, axis=0)
    filtered_df_boolean = df[final_condition].reset_index(drop=True) # TODO: why conditions[0]? - solved
    
    return filtered_df_boolean
    # return filtered_df_boolean

In [16]:
# test
filter_dict = {'treatment': 'version1', 'outcome': 1}
conditions = [(df[column].isin([filter_dict[column]])) for column in filter_dict]
final_condition = np.all(conditions, axis=0)

In [17]:
# test
filter_dict = {'treatment': 'version1', 'outcome': 1}
conditions = [(df[column].isin([filter_dict[column]])) for column in filter_dict]
final_condition = np.all(conditions, axis=0)

In [18]:
filtered_df_boolean = df[final_condition].reset_index(drop=True)
filtered_df_boolean

,_id,user,outcome,where,policy,treatment,treatment.timestamp,outcome.timestamp,is_uniform,TakeShower,TakeShower.timestamp,HappyOrNot,HappyOrNot.timestamp,wantToTravel,wantToTravel.timestamp,haveLunch,haveLunch.timestamp
0,648879ebe3bb62aff3a95b61,sim_user_10,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:07.773,2023-06-13 10:15:09.136,NaN,1,2023-06-13 10:14:58.468,0,2023-06-13 10:14:58.088,1,2023-06-13 10:14:58.196,1,2023-06-13 10:14:58.342
1,64887a0be3bb62aff3a96347,sim_user_10,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:39.072,2023-06-13 10:15:42.501,NaN,1,2023-06-13 10:14:58.468,0,2023-06-13 10:14:58.088,1,2023-06-13 10:14:58.196,1,2023-06-13 10:14:58.342
2,648879dfe3bb62aff3a95825,sim_user_100,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:14:55.639,2023-06-13 10:14:59.922,NaN,0,2023-06-13 10:13:01.131,0,2023-06-13 10:14:33.070,1,2023-06-13 10:13:00.840,0,2023-06-13 10:13:00.953
3,64887a09e3bb62aff3a962d7,sim_user_100,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:37.159,2023-06-13 10:15:41.560,NaN,0,2023-06-13 10:13:01.131,0,2023-06-13 10:14:33.070,1,2023-06-13 10:13:00.840,0,2023-06-13 10:13:00.953
4,64887a25e3bb62aff3a968fb,sim_user_11,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:16:05.815,2023-06-13 10:16:07.317,NaN,1,2023-06-13 10:15:18.001,1,2023-06-13 10:15:17.598,0,2023-06-13 10:15:17.715,1,2023-06-13 10:15:17.856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,64887a01e3bb62aff3a960f8,sim_user_98,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:29.631,2023-06-13 10:15:31.011,NaN,0,2023-06-13 10:15:00.929,0,2023-06-13 10:15:00.527,1,2023-06-13 10:15:00.646,1,2023-06-13 10:15:00.806
185,64887a41e3bb62aff3a96e93,sim_user_98,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:16:33.841,2023-06-13 10:16:35.362,NaN,0,2023-06-13 10:15:00.929,0,2023-06-13 10:15:00.527,1,2023-06-13 10:15:00.646,1,2023-06-13 10:15:00.806
186,648879fee3bb62aff3a96038,sim_user_99,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:26.599,2023-06-13 10:15:29.997,NaN,0,2023-06-13 10:15:17.134,0,2023-06-13 10:15:16.756,1,2023-06-13 10:15:16.882,0,2023-06-13 10:15:16.980
187,64887a08e3bb62aff3a962b4,sim_user_99,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:36.559,2023-06-13 10:15:37.906,NaN,0,2023-06-13 10:15:17.134,0,2023-06-13 10:15:16.756,1,2023-06-13 10:15:16.882,0,2023-06-13 10:15:16.980
188,64887a3ae3bb62aff3a96d0a,sim_user_99,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:16:26.160,2023-06-13 10:16:27.651,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595

In [48]:
# added statistical power
from statsmodels.stats.power import FTestAnovaPower

def calculate_statistical_power(df, outcome_var):
    nobs = len(df[outcome_var])  # total number of observations
    n_groups = df[outcome_var].nunique()  # unique outcome

    # Calculate effect size (eta squared)
    ss_total = np.sum((df[outcome_var] - np.mean(df[outcome_var]))**2)
    ss_explained = (np.sum(df.groupby('treatment')[outcome_var].count() *
                           (df.groupby('treatment')[outcome_var].mean() - np.mean(df[outcome_var]))**2))
    eta_squared = ss_explained / ss_total

    # Perform power analysis
    analysis = FTestAnovaPower()
    # Statistical Power calculations F-test for one factor balanced ANOVA
    # This is based on Cohen’s f as effect size measure.
    power = analysis.solve_power(eta_squared, nobs=nobs, alpha=0.05, k_groups=n_groups)

    return round(power, 3)  # return rounded power

In [45]:
df.groupby('treatment')["outcome"].count()
df.groupby('treatment')["outcome"].mean()
np.mean(df["outcome"])

0.4794414274631497

In [49]:
# test
def basic_reward_summary_table(df, selectedVariables):
    result_df = None
    data = df
    all_combs = get_all_combinations(selectedVariables)
    if len(selectedVariables) == 0:
        result_df = get_stats(data, ['treatment'])
    else:
        # group by treatment and all combinations of selected variables
        group_bys = [['treatment']] + [['treatment'] + list(comb) for comb in all_combs]
        grouped_dfs = []
        for group in group_bys:
            grouped = get_stats(data, group)
            grouped_dfs.append(grouped)

        result_df = pd.concat(grouped_dfs, axis=0, ignore_index=True)
    desired_columns = [col for col in result_df.columns if col not in ['Count', 'Mean','Count of non-response',"% of non-response"]] + ['Count', 'Mean','Count of non-response',"% of non-response"]
    
    # Reorder the columns
    result_df = result_df[desired_columns]
    result_df = result_df.replace(np.nan, -np.inf, regex=True)
    result_df = result_df.sort_values(by= selectedVariables + ['treatment'], ascending=True)
    result_df = result_df.replace(-np.inf, '', regex=True) # not sure how to sort ascendingly but put empty on top.
    # temporarily fill empty strings or NaN values with a value that's guaranteed to be smaller than all other values during the sort, and then replace it back to the empty string afterwards. In this case, -np.inf serves that purpose. 


    unique_versions = result_df['treatment'].unique()
    # Get the filter conditions -> TODO: since the table won't have many rows, it is fine to do a for loop? - solved
        
    filter_conditions = []
    for comb in all_combs:
        comb = list(comb)
        filter_empty = result_df[comb].ne('').all(axis=1) 
        unique_combinations = result_df[filter_empty].drop_duplicates(subset=comb)[comb].to_dict(orient='records')
        filter_conditions.extend(unique_combinations)
    
    
    # Use ANOVA to calculate p-value and power 
    for filter_condition in filter_conditions:
        filtered_df = filter_dataframe(df, filter_condition)
        outcomes = [filtered_df[filtered_df['treatment'] == version]['outcome'].dropna() for version in unique_versions]
        f_value, p_value = stats.f_oneway(*outcomes)
        # calculate power for the filtered dataframe
        power = calculate_statistical_power(filtered_df, 'outcome')
        
        for index, row in result_df.iterrows():
            if all(row[key] == value for key, value in filter_condition.items()):
                result_df.loc[index, 'P value'] = round(p_value,3)
                result_df.loc[index, 'Power'] = power

    # calculate p value for the whole dataset.
    outcomes = [df[df['treatment'] == version]['outcome'].dropna() for version in unique_versions]
    f_value, p_value = stats.f_oneway(*outcomes)
    power = calculate_statistical_power(df, 'outcome')
    for index, row in result_df.iterrows():
        if all(row[key] == "" for key in selectedVariables):
            result_df.loc[index, 'P value'] = round(p_value,3)
            result_df.loc[index, 'Power'] = power
    return result_df

In [51]:
basic_reward_summary_table(df, ['HappyOrNot','TakeShower'])

,treatment,HappyOrNot,TakeShower,Count,Mean,Count of non-response,% of non-response,P value,Power
0,version1,,,527,0.505,153,29.032,0.263,0.052
1,version2,,,200,0.411,49,24.500,0.263,0.052
2,version3,,,512,0.474,149,29.102,0.263,0.052
3,version4,,,582,0.486,181,31.100,0.263,0.052
12,version1,,0.0,289,0.505,79,27.336,0.284,0.053
14,version2,,0.0,111,0.395,30,27.027,0.284,0.053
16,version3,,0.0,299,0.478,92,30.769,0.284,0.053
18,version4,,0.0,303,0.517,100,33.003,0.284,0.053
13,version1,,1.0,238,0.506,74,31.092,0.677,0.051
15,version2,,1.0,89,0.429,19,21.348,0.677,0.051
17,version3,,1.0,213,0.468,57,26.761,0.677,0.051
19,version4,,1.0,279,0.455,81,29.032,0.677,0.051
4,version1,0.0,,407,0.507,119,29.238,0.088,0.061
6,version2,0.0,,85,0.333,19,22.353,0.088,0.061
8,version3,0.0,,198,0.464,60,30.303,0.088,0.061
10,version4,0.0,,224,0.474,68,30.357,0.088,0.061
20,version1,0.0,0.0,218,0.509,59,27.064,0.067,0.075
24,version2,0.0,0.0,42,0.258,11,26.190,0.067,0.075
28,version3,0.0,0.0,110,0.471,40,36.364,0.067,0.075
32,version4,0.0,0.0,126,0.518,41,32.540,0.067,0.075
21,version1,0.0,1.0,189,0.504,60,31.746,0.595,0.052
25,version2,0.0,1.0,43,0.400,8,18.605,0.595,0.052
29,version3,0.0,1.0,88,0.456,20,22.727,0.595,0.052
33,version4,0.0,1.0,98,0.423,27,27.551,0.595,0.052
5,version1,1.0,,120,0.500,34,28.333,0.971,0.050
7,version2,1.0,,115,0.471,30,26.087,0.971,0.050
9,version3,1.0,,314,0.480,89,28.344,0.971,0.050
11,version4,1.0,,358,0.494,113,31.564,0.971,0.050
22,version1,1.0,0.0,71,0.490,20,28.169,0.947,0.050
26,version2,1.0,0.0,69,0.480,19,27.536,0.947,0.050
30,version3,1.0,0.0,189,0.482,52,27.513,0.947,0.050
34,version4,1.0,0.0,177,0.517,59,33.333,0.947,0.050
23,version1,1.0,1.0,49,0.514,14,28.571,0.968,0.050
27,version2,1.0,1.0,46,0.457,11,23.913,0.968,0.050
31,version3,1.0,1.0,125,0.477,37,29.600,0.968,0.050
35,version4,1.0,1.0,181,0.472,54,29.834,0.968,0.050

In [50]:
df

,_id,user,outcome,where,policy,treatment,treatment.timestamp,outcome.timestamp,is_uniform,TakeShower,TakeShower.timestamp,HappyOrNot,HappyOrNot.timestamp,wantToTravel,wantToTravel.timestamp,haveLunch,haveLunch.timestamp
0,648879d5e3bb62aff3a95559,sim_user_1,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:14:45.934,NaN,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
1,648879d9e3bb62aff3a9566d,sim_user_1,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:14:49.243,NaN,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
2,648879dbe3bb62aff3a95731,sim_user_1,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:14:51.977,NaN,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
3,648879dde3bb62aff3a957b1,sim_user_1,1.0,NaN,ThompsonSamplingContextual,version2,2023-06-13 10:14:53.924,2023-06-13 10:14:56.344,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
4,648879e2e3bb62aff3a958e3,sim_user_1,1.0,NaN,ThompsonSamplingContextual,version2,2023-06-13 10:14:58.565,2023-06-13 10:15:02.917,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1816,64887a27e3bb62aff3a96934,sim_user_99,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:16:07.023,NaN,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1817,64887a2ce3bb62aff3a96a39,sim_user_99,0.0,NaN,ThompsonSamplingContextual,version4,2023-06-13 10:16:12.791,2023-06-13 10:16:14.381,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1818,64887a35e3bb62aff3a96c03,sim_user_99,0.0,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:16:21.169,2023-06-13 10:16:22.658,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1819,64887a3ae3bb62aff3a96d0a,sim_user_99,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:16:26.160,2023-06-13 10:16:27.651,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1820,64887a40e3bb62aff3a96e38,sim_user_99,0.0,NaN,ThompsonSamplingContextual,version2,2023-06-13 10:16:32.151,2023-06-13 10:16:35.632,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595

In [21]:
# Function description
# First, need to filter df by selectedVersion, selectedVariable, selectedPolicy.
# Secondly, format the rewardTimestamp to a certain format by per ("day", "week", "month", "year"). (this can be done later)
# group by the formatted rewardTimestamp, calculate the mean of the outcome, stderros, 25, 75 cis... (you can choose how we interpret the error bars)
# Return is a dataframe that's like:
# time, mean, errorBarEnd1, errorBarEnd2
# ! per_day need to be defined as day - 'd', Month - 'm', Year - 'y', Week - 'w'

def average_reward_for_one_version(df, selectedVersion, selectedVariable, selectedPolicy, per_day="d"):
    # Filter dataframe
    filtered_df = df[(df['treatment'] == selectedVersion) &  
                     (df['policy'] == selectedPolicy)]
    # Select columns
    filtered_df = filtered_df[['treatment', 'policy', 'outcome', 'outcome.timestamp', selectedVariable]]

    # Format rewardTimestamp
    filtered_df['outcome.timestamp'] = pd.to_datetime(filtered_df['outcome.timestamp'])
    filtered_df['outcome.timestamp'] = filtered_df['outcome.timestamp'].dt.to_period(per_day)
    
    # Group by rewardTimestamp and calculate mean and standard error of outcome
    result_df = round(filtered_df.groupby('outcome.timestamp').agg({
        'outcome': ['mean', 'std', 'count', lambda x: x.quantile(0.25), lambda x: x.quantile(0.75)]
    }),3)
    # reset index
    result_df.reset_index(inplace=True)
    
    # Rename columns
    result_df.columns = ['time','mean', 'std', 'count', '25th quantile', '75th quantile']

    return result_df

In [22]:
df = pd.read_csv('~/Desktop/DataArrow/dataset/4v4var.csv')
policy = 'ThompsonSamplingContextual'
version = 'version1'
variable = "HappyOrNot"
per_day = "d"
result_df = average_reward_for_one_version(df, version, variable, policy, per_day)
result_df

         time   mean    std  count  25th quantile  75th quantile
0  2023-06-13  0.505  0.501    374            0.0            1.0