In [1]:
import pandas as pd
import numpy as np
import sys
from credentials import *
import itertools
from scipy import stats

/Users/jiachi/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
def get_all_combinations(array):
    all_combinations = []
    for r in range(1, len(array) + 1):
        combinations = itertools.combinations(array, r)
        all_combinations.extend(combinations)
    return all_combinations


def get_stats(df, group_by):
    # stats = {}
    # stats['Mean outcome'] = group['outcome'].mean()
    # stats['Count'] = group['outcome'].count()
    # # stats['Count of non-response'] = group['reward'].isnull().sum()
    # # stats['% of non-response'] = round(group['reward'].isnull().mean() * 100,2)

    df = df.groupby(group_by) \
       .agg(count=('outcome', 'size'), 
            mean=('outcome', 'mean'), 
            count_of_non_response=('outcome', lambda x: x.isnull().sum()),
            percent_of_non_response=('outcome', lambda x: round((x.isnull().mean() * 100), 2))) \
       .reset_index()
    return df

In [7]:
# test
df = pd.read_csv('~/Desktop/DataArrow/dataset/4v4var.csv')
df

,_id,user,outcome,where,policy,treatment,treatment.timestamp,outcome.timestamp,is_uniform,TakeShower,TakeShower.timestamp,HappyOrNot,HappyOrNot.timestamp,wantToTravel,wantToTravel.timestamp,haveLunch,haveLunch.timestamp
0,648879d5e3bb62aff3a95559,sim_user_1,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:14:45.934,NaN,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
1,648879d9e3bb62aff3a9566d,sim_user_1,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:14:49.243,NaN,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
2,648879dbe3bb62aff3a95731,sim_user_1,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:14:51.977,NaN,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
3,648879dde3bb62aff3a957b1,sim_user_1,1.0,NaN,ThompsonSamplingContextual,version2,2023-06-13 10:14:53.924,2023-06-13 10:14:56.344,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
4,648879e2e3bb62aff3a958e3,sim_user_1,1.0,NaN,ThompsonSamplingContextual,version2,2023-06-13 10:14:58.565,2023-06-13 10:15:02.917,NaN,1,2023-06-13 10:12:39.239,1,2023-06-13 10:13:48.438,1,2023-06-13 10:12:38.998,1,2023-06-13 10:12:39.127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1816,64887a27e3bb62aff3a96934,sim_user_99,NaN,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:16:07.023,NaN,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1817,64887a2ce3bb62aff3a96a39,sim_user_99,0.0,NaN,ThompsonSamplingContextual,version4,2023-06-13 10:16:12.791,2023-06-13 10:16:14.381,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1818,64887a35e3bb62aff3a96c03,sim_user_99,0.0,NaN,ThompsonSamplingContextual,version3,2023-06-13 10:16:21.169,2023-06-13 10:16:22.658,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1819,64887a3ae3bb62aff3a96d0a,sim_user_99,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:16:26.160,2023-06-13 10:16:27.651,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595
1820,64887a40e3bb62aff3a96e38,sim_user_99,0.0,NaN,ThompsonSamplingContextual,version2,2023-06-13 10:16:32.151,2023-06-13 10:16:35.632,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595

In [8]:
# test
get_stats(df, ['treatment'])

  treatment  count      mean  count_of_non_response  percent_of_non_response
0  version1    527  0.505348                    153                    29.03
1  version2    200  0.410596                     49                    24.50
2  version3    512  0.473829                    149                    29.10
3  version4    582  0.486284                    181                    31.10

In [9]:
def filter_dataframe(df, filter_dict):
    
    # Using boolean indexing
    conditions = [(df[column].isin([filter_dict[column]])) for column in filter_dict]
     # conditions[0] only filter the fist condition, if you want to apply all conditons, check next line
    final_condition = np.all(conditions, axis=0)
    filtered_df_boolean = df[final_condition].reset_index(drop=True) # TODO: why conditions[0]? - solved
    
    return filtered_df_boolean
    # return filtered_df_boolean

In [10]:
# test
filter_dict = {'treatment': 'version1', 'outcome': 1}
conditions = [(df[column].isin([filter_dict[column]])) for column in filter_dict]
final_condition = np.all(conditions, axis=0)
filtered_df_boolean = df[final_condition].reset_index(drop=True)
filtered_df_boolean

,_id,user,outcome,where,policy,treatment,treatment.timestamp,outcome.timestamp,is_uniform,TakeShower,TakeShower.timestamp,HappyOrNot,HappyOrNot.timestamp,wantToTravel,wantToTravel.timestamp,haveLunch,haveLunch.timestamp
0,648879ebe3bb62aff3a95b61,sim_user_10,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:07.773,2023-06-13 10:15:09.136,NaN,1,2023-06-13 10:14:58.468,0,2023-06-13 10:14:58.088,1,2023-06-13 10:14:58.196,1,2023-06-13 10:14:58.342
1,64887a0be3bb62aff3a96347,sim_user_10,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:39.072,2023-06-13 10:15:42.501,NaN,1,2023-06-13 10:14:58.468,0,2023-06-13 10:14:58.088,1,2023-06-13 10:14:58.196,1,2023-06-13 10:14:58.342
2,648879dfe3bb62aff3a95825,sim_user_100,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:14:55.639,2023-06-13 10:14:59.922,NaN,0,2023-06-13 10:13:01.131,0,2023-06-13 10:14:33.070,1,2023-06-13 10:13:00.840,0,2023-06-13 10:13:00.953
3,64887a09e3bb62aff3a962d7,sim_user_100,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:37.159,2023-06-13 10:15:41.560,NaN,0,2023-06-13 10:13:01.131,0,2023-06-13 10:14:33.070,1,2023-06-13 10:13:00.840,0,2023-06-13 10:13:00.953
4,64887a25e3bb62aff3a968fb,sim_user_11,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:16:05.815,2023-06-13 10:16:07.317,NaN,1,2023-06-13 10:15:18.001,1,2023-06-13 10:15:17.598,0,2023-06-13 10:15:17.715,1,2023-06-13 10:15:17.856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,64887a01e3bb62aff3a960f8,sim_user_98,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:29.631,2023-06-13 10:15:31.011,NaN,0,2023-06-13 10:15:00.929,0,2023-06-13 10:15:00.527,1,2023-06-13 10:15:00.646,1,2023-06-13 10:15:00.806
185,64887a41e3bb62aff3a96e93,sim_user_98,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:16:33.841,2023-06-13 10:16:35.362,NaN,0,2023-06-13 10:15:00.929,0,2023-06-13 10:15:00.527,1,2023-06-13 10:15:00.646,1,2023-06-13 10:15:00.806
186,648879fee3bb62aff3a96038,sim_user_99,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:26.599,2023-06-13 10:15:29.997,NaN,0,2023-06-13 10:15:17.134,0,2023-06-13 10:15:16.756,1,2023-06-13 10:15:16.882,0,2023-06-13 10:15:16.980
187,64887a08e3bb62aff3a962b4,sim_user_99,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:15:36.559,2023-06-13 10:15:37.906,NaN,0,2023-06-13 10:15:17.134,0,2023-06-13 10:15:16.756,1,2023-06-13 10:15:16.882,0,2023-06-13 10:15:16.980
188,64887a3ae3bb62aff3a96d0a,sim_user_99,1.0,NaN,ThompsonSamplingContextual,version1,2023-06-13 10:16:26.160,2023-06-13 10:16:27.651,NaN,1,2023-06-13 10:15:43.812,1,2023-06-13 10:15:43.216,0,2023-06-13 10:15:43.445,0,2023-06-13 10:15:43.595

In [11]:
# test
def basic_reward_summary_table(df, selectedVariables):
    result_df = None
    data = df
    all_combs = get_all_combinations(selectedVariables)
    if len(selectedVariables) == 0:
        result_df = get_stats(data, ['treatment'])
    else:
        # group by treatment and all combinations of selected variables
        group_bys = [['treatment']] + [['treatment'] + list(comb) for comb in all_combs]
        grouped_dfs = []
        for group in group_bys:
            grouped = get_stats(data, group)
            grouped_dfs.append(grouped)

        result_df = pd.concat(grouped_dfs, axis=0, ignore_index=True)
    desired_columns = [col for col in result_df.columns if col not in ['count', 'mean','count_of_non_response','percent_of_non_response']] + ['count', 'mean','count_of_non_response','percent_of_non_response']
    
    # Reorder the columns
    result_df = result_df[desired_columns]
    result_df = result_df.replace(np.nan, -np.inf, regex=True)
    result_df = result_df.sort_values(by= selectedVariables + ['treatment'], ascending=True)
    result_df = result_df.replace(-np.inf, '', regex=True) # not sure how to sort ascendingly but put empty on top.
    # temporarily fill empty strings or NaN values with a value that's guaranteed to be smaller than all other values during the sort, and then replace it back to the empty string afterwards. In this case, -np.inf serves that purpose. 


    unique_versions = result_df['treatment'].unique()
    # Get the filter conditions -> TODO: since the table won't have many rows, it is fine to do a for loop?
        
    filter_conditions = []
    for comb in all_combs:
        comb = list(comb)
        filter_empty = result_df[comb].ne('').all(axis=1) 
        unique_combinations = result_df[filter_empty].drop_duplicates(subset=comb)[comb].to_dict(orient='records')
        filter_conditions.extend(unique_combinations)
    
    
    # Use ANOVA to calculate p-value and f-value
    for filter_condition in filter_conditions:
        filtered_df = filter_dataframe(df, filter_condition)
        outcomes = [filtered_df[filtered_df['treatment'] == version]['outcome'].dropna() for version in unique_versions]
        f_value, p_value = stats.f_oneway(*outcomes)
        
        for index, row in result_df.iterrows():
            if all(row[key] == value for key, value in filter_condition.items()):
                result_df.loc[index, 'p_value'] = p_value
                result_df.loc[index, 'f_value'] = f_value

    # calculate p value for the whole dataset.
    outcomes = [df[df['treatment'] == version]['outcome'].dropna() for version in unique_versions]
    f_value, p_value = stats.f_oneway(*outcomes)
    for index, row in result_df.iterrows():
        if all(row[key] == "" for key in selectedVariables):
            result_df.loc[index, 'p_value'] = p_value
            result_df.loc[index, 'f_value'] = f_value
    return result_df

In [12]:
basic_reward_summary_table(df, ['HappyOrNot','wantToTravel','haveLunch','TakeShower'])

,treatment,HappyOrNot,wantToTravel,haveLunch,TakeShower,count,mean,count_of_non_response,percent_of_non_response,p_value,f_value
0,version1,,,,,527,0.505348,153,29.03,0.262577,1.331453
1,version2,,,,,200,0.410596,49,24.50,0.262577,1.331453
2,version3,,,,,512,0.473829,149,29.10,0.262577,1.331453
3,version4,,,,,582,0.486284,181,31.10,0.262577,1.331453
28,version1,,,,0.0,289,0.504762,79,27.34,0.283779,1.269521
...,...,...,...,...,...,...,...,...,...,...,...
322,version4,1.0,1.0,1.0,0.0,41,0.320000,16,39.02,0.060033,2.620363
275,version1,1.0,1.0,1.0,1.0,4,0.500000,2,50.00,0.655356,0.541540
291,version2,1.0,1.0,1.0,1.0,15,0.600000,5,33.33,0.655356,0.541540
307,version3,1.0,1.0,1.0,1.0,33,0.636364,11,33.33,0.655356,0.541540
323,version4,1.0,1.0,1.0,1.0,69,0.477273,25,36.23,0.655356,0.541540

In [9]:
def basic_reward_summary_table(df, selectedVariables):
    result_df = None
    data = df
    all_combs = get_all_combinations(selectedVariables)
    if len(selectedVariables) == 0:
        result_df = get_stats(data, ['treatment'])
    else:
        # group by treatment and all combinations of selected variables
        group_bys = [['treatment']] + [['treatment'] + list(comb) for comb in all_combs]
        grouped_dfs = []
        for group in group_bys:
            grouped = get_stats(data, group)
            grouped_dfs.append(grouped)

        result_df = pd.concat(grouped_dfs, axis=0, ignore_index=True)
    desired_columns = [col for col in result_df.columns if col not in ['count', 'mean','count_of_non_response,','percent_of_non_response']] + ['count', 'mean','count_of_non_response,','percent_of_non_response']
    
    # Reorder the columns
    result_df = result_df[desired_columns]
    result_df = result_df.replace(np.nan, -np.inf, regex=True)
    result_df = result_df.sort_values(by= selectedVariables + ['treatment'], ascending=True)
    result_df = result_df.replace(-np.inf, '', regex=True) # not sure how to sort ascendingly but put empty on top.
    # temporarily fill empty strings or NaN values with a value that's guaranteed to be smaller than all other values during the sort, and then replace it back to the empty string afterwards. In this case, -np.inf serves that purpose. 
    
    # ? change to anova:
    if True and len(result_df['treatment'].unique()) == 2:
        # Check if user wants P-Value reported, and if there are only two versions.
        # Calculate P-value

        unique_versions = result_df['treatment'].unique()
        # Get the filter conditions -> TODO: since the table won't have many rows, it is fine to do a for loop?
        
        filter_conditions = []
        for comb in all_combs:
            comb = list(comb)
            filter_empty = result_df[comb].ne('').all(axis=1) 
            unique_combinations = result_df[filter_empty].drop_duplicates(subset=comb)[comb].to_dict(orient='records')
            filter_conditions.extend(unique_combinations)
        
        
        # calculate p value
        for filter_condition in filter_conditions:
            filtered_df = filter_dataframe(df, filter_condition)
            
            statistics, p_value = stats.ttest_ind(filtered_df[filtered_df['treatment'] == unique_versions[0]]['outcome'].dropna(), filtered_df[filtered_df['treatment'] == unique_versions[1]]['outcome'].dropna())
            
            for index, row in result_df.iterrows():
                if all(row[key] == value for key, value in filter_condition.items()):
                    result_df.loc[index, 'p_value'] = p_value
                    result_df.loc[index, 'statistics'] = statistics

        # calculate p value for the whole dataset.
        statistics, p_value = stats.ttest_ind(df[df['treatment'] == unique_versions[0]]['outcome'].dropna(), df[df['treatment'] == unique_versions[1]]['outcome'].dropna())
        for index, row in result_df.iterrows():
            if all(row[key] == "" for key in selectedVariables):
                result_df.loc[index, 'p_value'] = p_value
                result_df.loc[index, 'statistics'] = statistics
    return result_df